body { font-family: 'Arial' }

a { text-decoration: none; color: black; line-height: 3em; }

h1 { font-weight: 100; }

img { max-width: 90%; max-height: 100%; height: auto; margin: auto; display: block; }

.wrapper { height: 110vh; padding: 100px 0 50px 0; }

