body { font-family: 'Arial'; line-height: 3em; }

a { text-decoration: none; color: black; }

h1 { font-weight: 100; }

img { width: 90%; height: auto; margin: auto; display: block; padding: 100px 0; }

