body { font-family: 'Times New Roman' }

a { text-decoration: none; color: black; line-height: 2.5em; }

h1, h2 { font-weight: normal }
/* bold text */
h2 { font-size: 1em; }

img { max-width: 90%; max-height: 100%; height: auto; margin: auto; display: block; }

.wrapper { height: 110vh; padding: 100px 0 50px 0; }

.list { right: 100px; }